* {
  font-family: monospace;
}

a {
  color: rgb(102, 207, 252);
  text-decoration: none;
}

a.image {
  color: rgb(149, 252, 203);
}

a.project {
  color: rgb(237, 116, 112);
}

body {
  background-color: #000;
  color: rgb(225, 226, 226);
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 72em;
}

footer {
  margin-top: 5em;
  text-align: right;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

li {
  margin-bottom: 1em;
}

ul {
  list-style: inside square;
  margin: 0;
  padding: 0;
}

pre {
  line-height: normal;
}
